In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

The dataset is looking at hurricane data in the Yucatan Peninsula

In [2]:
# Read in data
hurricane = pd.read_csv('data/hf071-01-hurricanes.csv')

In [3]:
hurricane.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

In [4]:
hurricane.dtypes

code          object
start.date    object
end.date      object
number         int64
name          object
ss             int64
track         object
rf.max        object
dtype: object

In [7]:
hurricane.nunique()

code          105
start.date    105
end.date      105
number         15
name           32
ss              5
track           5
rf.max          5
dtype: int64

### How many hurricanes with Saffir-Simpson category 5 have been registered and what was their duration?

In [24]:
hurricane[hurricane['ss']== 5].count

<bound method DataFrame.count of        code start.date   end.date  number     name  ss track rf.max
76   Y1955b 1955-09-28 1955-09-28      10    Janet   5     N     F3
96   Y1980a 1980-08-07 1980-08-08       1    Allen   5     O     F3
98    Y1988 1988-09-14 1988-09-15       8  Gilbert   5     N     F3
103   Y1998 1998-10-27 1998-10-28      13    Mitch   5     S     F1>

In [12]:
hurricane['start.date'] = pd.to_datetime(hurricane['start.date'])

hurricane['end.date'] = pd.to_datetime(hurricane['end.date'])

In [13]:
hurricane.dtypes

code                  object
start.date    datetime64[ns]
end.date      datetime64[ns]
number                 int64
name                  object
ss                     int64
track                 object
rf.max                object
dtype: object

In [25]:
category_5 = hurricane[hurricane['ss']== 5].copy()

category_5['duration'] = hurricane['end.date'] - hurricane['start.date']

In [26]:
category_5.head()

category_5.dtypes

code                   object
start.date     datetime64[ns]
end.date       datetime64[ns]
number                  int64
name                   object
ss                      int64
track                  object
rf.max                 object
duration      timedelta64[ns]
dtype: object

In [ ]:
plt.